.home-container{
    /*background-image: url("../assets/loading/PreLoading_atlas1.png");*/
    background-size: 100% auto;
    width: 932px;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center; /* 新增 */
    position: absolute; /* 添加这一行 */
    top: 50%; /* 新增 */
    left: 50%; /* 新增 */
    transform: translate(-50%, -50%); /* 新增 */
    display: flex;
    align-items: center; /* 垂直居中内容 */
    justify-content: center; /* 水平居中内容 */
}
.home-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../public/assets_guopai/loading/PreLoading_atlas1.png");
    background-size: 142% 142%;
    background-position: 22%;
    z-index: -1;
    width: 932px;
    z-index: -1;
}

/* 为黄色按钮添加样式 */
.yellow-button {
    background-image: url(/ui/Button_Game0.png);
    width: 326px;
    height: 107px;
    background-repeat: no-repeat;
    background-position: -160px -0px;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}



.guest-login {
    background-image: url(../../public/assets_guopai/lanzh/guest_login.png);
    width: 100px;
    height: 31px;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
